{
    "profiles": [
        {
            "complex_modifications": {
                "rules": [
                    {
                        "available_since": "13.1.4",
                        "description": "Launcher Mode v4 (rev 18)",
                        "manipulators": [
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "g",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "'/Users/{{ ansible_user_id }}/Library/Application Support/JetBrains/Toolbox/scripts/goland'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "g" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "'/Users/{{ ansible_user_id }}/Library/Application Support/JetBrains/Toolbox/scripts/goland'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "c",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Google Chrome'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "c" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Google Chrome'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "t",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Ghostty.app'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "t" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Ghostty.app'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "t",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Ghostty.app'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "t" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Slack.app'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "v",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Visual Studio Code.app'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "v" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Visual Studio Code.app'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "s",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Slack.app'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "s" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Slack.app'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "e",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Visual Studio Code.app'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "e" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Visual Studio Code.app'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "f",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Finder.app'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "f" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Finder.app'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "m",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Spotify.app'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "m" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Spotify.app'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "q",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Dictionary.app'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "q" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Dictionary.app'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "y",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Safari.app'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "y" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Safari.app'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "v",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "shell_command": "open -a 'Slack.app'" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "v" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "shell_command": "open -a 'Slack.app'" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "left_control",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "key_code": "mission_control" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "left_control" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "key_code": "mission_control" }
                                ],
                                "type": "basic"
                            },
                            {
                                "conditions": [
                                    {
                                        "name": "launcher_mode_v4",
                                        "type": "variable_if",
                                        "value": 1
                                    }
                                ],
                                "from": {
                                    "key_code": "left_shift",
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    }
                                },
                                "to": [{ "apple_vendor_keyboard_key_code": "spotlight" }],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "modifiers": {
                                        "mandatory": [],
                                        "optional": ["any"]
                                    },
                                    "simultaneous": [
                                        { "key_code": "o" },
                                        { "key_code": "left_shift" }
                                    ],
                                    "simultaneous_options": {
                                        "key_down_order": "strict",
                                        "key_up_order": "strict_inverse",
                                        "to_after_key_up": [
                                            {
                                                "set_variable": {
                                                    "name": "launcher_mode_v4",
                                                    "value": 0
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": { "basic.simultaneous_threshold_milliseconds": 1000 },
                                "to": [
                                    {
                                        "set_variable": {
                                            "name": "launcher_mode_v4",
                                            "value": 1
                                        }
                                    },
                                    { "apple_vendor_keyboard_key_code": "spotlight" }
                                ],
                                "type": "basic"
                            }
                        ]
                    },
                ]
            },
            "devices": [
                {
                    "identifiers": {
                        "is_keyboard": true,
                        "is_pointing_device": true,
                        "product_id": 640,
                        "vendor_id": 13364
                    },
                    "ignore": false,
                    "manipulate_caps_lock_led": false
                }
            ],
            "name": "PS",
            "selected": true,
            "virtual_hid_keyboard": {
                "country_code": 0,
                "keyboard_type_v2": "ansi"
            }
        }
    ]
}
